/* Style your widget here */
.mapwidgetsLeaflet {
    height: 100%;
}
.notusedcss {
    /* used only in path-guessing heuristic, see L.Icon.Default */
    background-image: url(../../node_modules/leaflet/dist/images/marker-shadow.png);
    background-image: url(../../node_modules/leaflet/dist/images/marker-icon-2x.png);
    background-image: url(../../node_modules/leaflet/dist/images/layers-2x.png);
    background-image: url(../../node_modules/leaflet/dist/images/layers.png);
    background-image: url(../img/mapwidgets.svg);
}
